# Logs & OS
*.log
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# IDE / Editor
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json

# Node / Frontend
/node_modules
/public/build
/public/hot
/public/storage
/.vite
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Laravel storage (runtime data)
storage/*.key
storage/pail
storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs

# Laravel cache
/bootstrap/cache/

# Testing & coverage
.phpunit.result.cache
.phpunit.cache
/coverage

# Composer
# ⚠️ composer.lock DEBE estar versionado, no lo ignores
